* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	width: 100%;
}
header {
	width: 100%;
	height: 40vh;
	display: flex;
	flex-direction: column;
	background-image: url(/assets/imagen1.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
header h1 {
	margin: 3rem;
	border-left: 5px solid orangered;
	padding: 1rem;
}
nav a {
	font-size: 1rem;
	padding: 3rem;
	color: black;
	text-decoration: none;
}

.div-text {
	text-align: left;
}

.text-a {
	color: rgb(255, 119, 0);
	padding: 0.5rem;
	box-shadow: rgba(219, 148, 15, 0.642) 2.4px 2.4px 3.2px;
}
header img {
	width: 5rem;
}
.section {
	display: flex;
	flex-direction: column;
	text-align: center;
}
.section h2 {
	font-size: 3rem;
	font-weight: bold;
	padding-bottom: 1rem;
}
.img-1 {
	width: 100%;
	height: 30vh;
	border-radius: 1rem;
	box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
		rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.main-1 {
	display: flex;
	width: 100%;
	margin-top: 1rem;
	justify-content: space-around;
}
.div-1 {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 20%;
}
.div-text {
	width: 100%;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
}
.div-1 p {
	align-self: flex-start;
}
div a {
	color: black;
	text-decoration: none;
	font-size: 1rem;
	padding: 2rem;
}
button {
	background-color: orangered;
	text-decoration: none;
	color: white;
	border-radius: 2rem;
	width: 2.5rem;
	height: 1.5rem;
}

footer {
	font-size: 1.1rem;
	width: 100%;
	height: 15vh;
	display: flex;
	justify-content: space-around;
	text-align: center;
	align-items: center;
	background-color: rgba(205, 205, 205, 0.284);
	margin-top: 1rem;
}
.form {
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	border: 1px solid rgb(102, 99, 99);
}
fieldset {
	border: transparent;
}
.contact {
	display: flex;
	align-content: center;
	align-items: center;
	color: black;
	text-decoration: none;
}
footer p {
	font-weight: bold;
}
span {
	color: orangered;
}
/* Media Queries **/
@media only screen and (max-width: 426px) {
	main {
		width: 100%;
		flex-direction: column;
	}
	nav a {
		flex-direction: row;
		padding: 0;
	}
	div a {
		display: flex;
		flex-direction: column;
	}
	.div-1 {
		width: 100%;
		flex-direction: column;
	}
	footer {
		flex-direction: column;
	}
}
